:root{
    --background_color: #EBF0FA;
    --blue: #244C98;
    --light-blue: #F0F4FC;
}

/* чтобы при автозаполнение не слетал фон инпута */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
     box-shadow: 0 0 0 3.70vw #D7E2F6 inset !important;
}

body{
    font-family: "Manrope", sans-serif;
    font-weight: 500;
}

.wrapper{
    margin: 0 auto;
    padding: 1.88vw 2.08vw;
    border-radius: 10px;
}

main{
    display: flex;
    width: 100%;
    height: 23.70vw;
    flex-direction: row; 
    background-color: var(--background_color);
    border-radius: 10px;
    position: relative;
}

.modal{
    position: fixed;
    inset:0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    padding: 30px;
    overflow-y: auto;
    visibility: hidden;
}

.modal--active{
    visibility: visible;
    transition: 1s ease;
}

.main--form{
    margin: auto;
}

.hidden{
    overflow: hidden;
}

form {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 24.74vw;
    height: 29.95vw;
    background-color: var(--background_color);
    padding-left: 1.1vw;
    
}

form>svg {
    width: 2.71vw;
    height: 2.71vw;
    margin-top: 1.2vw;
    margin-left: 21vw;
    margin-bottom: -1vw;
    cursor: pointer;
}

form>svg>rect{
    width: 52px;
    height: 52px;
    fill: white;
}

form>svg:hover>path{
    stroke: red;
}

form>p{
    font-size: 1.25vw;
    margin-bottom: 1vw;
}

.form_input {
    width: 22.44vw;
    height: 3.70vw;
    background-color: #D7E2F6;
    border: none;
    border-radius: 0.52vw;
    margin-bottom: 0.3vw;
    padding-left: 1vw;
    font-size: 0.94vw;
    color: var(--blue);
    outline: 1px solid transparent;
    cursor: pointer;
}

.form_input::placeholder{
    color: var(--blue);
}

.form_input:focus::placeholder{
    opacity: 0;
}

.form_input:focus{
    outline: 1px solid var(--blue);
}

.alert{
    border: 1px solid red;
    background-color: #ff68a2;
}

#checkbox_remember{
    margin-top: 0.8vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 12vw;
    position: relative;
}

#remember{
    display: none;
}

#checkbox_remember_icon{
    display: block;
    width: 0.9vw;
    height: 0.9vw;
    border: 2px solid black;
    background-color: #fff;
    border-radius: 4px;
    margin-right: 1vw;
    cursor: pointer;
}

#checkbox_remember_icon+span{
    font-size: 0.94vw;
    margin-top: -2px;
    margin-bottom: 1.3vw;
}

#remember:checked+#checkbox_remember_icon{
    background-image: url(../img/Done.png);
}

#recover_link{
    font-size: 1.04vw;
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
    width: 10vw;
    margin-bottom: 2vw;
}

#recover_link:hover{
    color: #330185;
}

form>button{
    width: 23.54vw;
    height: 3.39vw;
    text-align: center;
    border-radius: 4px;
    font-size: 0.94vw;
    margin-bottom: 0.3vw;
    cursor: pointer;
}

#button_enter{
    background-color: var(--blue);
    color: #fff;
    border: none;
}

#button_enter:hover{
    background-color: #13284e;
}

#button_registration{
    color: var(--blue);
    border: 1px var(--blue) solid;
}

#button_registration:hover{
    background-color: #D7E2F6;
}

#main--tilte_authorization{
    width: 48.44vw;
    padding-left: 3vw;
    padding-top: 4vw;
    border-radius: 10px;
}

h1{
    color: var(--blue);
    font-size: 1.56vw;
    margin-bottom: 1.3vw;
    width: 20vw;
}

#main--tilte_authorization>p{
    font-size: 0.89vw;
    font-weight: 300;
    width: 26.61vw;
    line-height: 1.4vw;
    margin-bottom: 2vw;
}

#main--tilte_authorization--try_free{
    display: flex;
    background-color: var(--blue);
    border: none;
    width: 17.76vw;
    height: 3.54vw;
    color: #fff;
    border-radius: 3.13vw;
    font-size:0.94vw;
    padding:  0.63vw 0.63vw 0.63vw 1.25vw;
    align-items: center;
    gap: 3vw;
    text-wrap: nowrap;
    cursor: pointer;
}

#main--tilte_authorization--try_free:hover{
    background-color: #13284e;
}

#main--tilte_authorization--try_free:hover>span>svg>rect{
    fill: #9fb7ff;
}

#main--tilte_authorization--try_free:hover>span>svg>path{
    stroke: #ffffff;
}

#main--tilte_authorization--try_free>span>svg{
    width: 2.29vw;
    height: 2.29vw;
    margin-top: 0.3vw;
}

#main--banner{
    width: 50vw;
    height:inherit;
    background-image: url(../img/banner1440px.png);
    background-size: cover;
    background-position-y: -4.17vw;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}



@media  all and  (max-width: 1440px) {

    main{
        height: 31.60vw;
    }

    #main--tilte_authorization {
        padding-left: 5vw;
        padding-top: 6.2vw;
    }

    h1 {
        font-size: 1.81vw;
        margin-bottom: 1.7vw;
    }

    #main--tilte_authorization>p {
        font-size: 1.18vw;
        font-weight: 300;
        width: 35.49vw;
        line-height: 1.8vw;
        margin-bottom: 2.5vw;
    }

    #main--tilte_authorization--try_free {
        width: 23.68vw;
        height: 4.72vw;
        color: #fff;
        border-radius: 2.78vw;
        font-size: 1.25vw;
        padding: 0.83vw 0.83vw 0.83vw 1.8vw;
        gap: 4vw;
        margin-bottom: 8vw;
    }

    #main--tilte_authorization--try_free>span>svg{
        width: 3.06vw;
        height: 3.06vw;
    }

    #main--banner{
        width: 50vw;
        background-position-y: 0vw;
        }



}

@media  all and  (max-width: 768px) {
    main{
        height: 76.6vw;
        flex-direction: column;
    }

    #main--form {
        height: 100%;
    }

    form{
        width: 62.10vw;
        height: 76.59vw;
        padding-left: 3vw;
    }

    form>svg {
        width: 6.77vw;
        height: 6.77vw;
        margin-top: 1vw;
        margin-left: 55vw;
        margin-bottom: -3.5vw;
    }

    form>p {
        font-size: 3.25vw;
        margin-bottom: 2vw;
    }

    .form_input {
        width: 55.44vw;
        height: 9.7vw;
        border-radius: 0.52vw;
        margin-bottom: 0.6vw;
        padding-left: 3vw;
        font-size: 2.5vw;
    }

    #checkbox_remember {
        margin-top: 2.5vw;
        width: 28vw;
    }

    #checkbox_remember_icon {
        width: 2vw;
        height: 2vw;
        margin-right: 2.5vw;
    }

    #checkbox_remember_icon+span {
        font-size: 2.3vw;
        margin-bottom: 3.2vw;
    }

    #remember:checked+#checkbox_remember_icon {
        background-size: 106%;
    }

    #recover_link {
        font-size: 2.5vw;
        width: 19vw;
        margin-bottom: 5vw;
    }

    form>button {
        width: 58.54vw;
        height: 8.39vw;
        border-radius: 4px;
        font-size: 2.5vw;
        margin-bottom: 0.6vw;
    }

    #main--tilte_authorization {
        width: 87.75vw;
        padding-left: 3vw;
        padding-top: 2vw;
        background-color: var(--background_color);
    }

    h1 {
        color: var(--blue);
        font-size: 2.60vw;
        margin-bottom: 1.3vw;
    }

    #main--tilte_authorization>p {
        font-size: 1.95vw;
        font-weight: 300;
        width: 86.5vw;
        line-height: 3.4vw;
        margin-bottom: 3vw;
        text-wrap: wrap;
    }

    #main--tilte_authorization--try_free {
        width: 33.98vw;
        height: 7.29vw;
        border-radius: 7.81vw;
        font-size: 1.95vw;
        padding: 1.30vw 1.30vw 1.30vw 2.34vw;
        gap: 4vw;
        margin-bottom: 5vw;
    }

    #main--tilte_authorization--try_free>span>svg{
        width: 4.69vw;
        height: 4.69vw;
    }

    #main--banner{
        width:100%;
        height: 90vw;
        background-position-y: -9vw;
    }
    
}

@media  all and  (max-width: 375px) {

    main {
        height: 127.6vw;
    }

    #main--tilte_authorization {
        width: 78.20vw;
        padding-left: 9vw;
        padding-top: 4vw;
    }

    h1 {
        color: var(--blue);
        font-size: 4.53vw;
        margin-bottom: 5.3vw;
        width: 38vw;
    }

    #main--tilte_authorization>p {
        font-size: 3.47vw;
        width: 74vw;
        line-height: 5.4vw;
        margin-bottom: 5vw;
    }

    #main--tilte_authorization--try_free {
        width: 74.40vw;
        height: 14.93vw;
        border-radius: 7.81vw;
        font-size: 4vw;
        padding: 1.3vw 1.3vw 1.30vw 4.34vw;
        gap: 13vw;
        margin-bottom: 5vw;
    }

    #main--tilte_authorization--try_free>span>svg {
        width: 9.60vw;
        height: 9.60vw;
    }

    #main--banner {
        width: 100%;
        height: 90vw;
        background-position-y: -2vw;
    }
}
